@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/GothamMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/GothamBold.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/Gotham-Light.otf') format('opentype'); 
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../fonts/Gotham-Black.otf') format('opentype');
}

body {
  margin: 0px;
  background-color: #000000;
}

p {
  font-family: 'Gotham Medium';
  color: white;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}